.footer {
    background: $black;
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    bottom: 0;
    border-bottom-width: 4px, solid, $black;
    margin-top: 30px;

    a {
        color: $white;
    }
}

