// nav bar
@import 'topNav';
// Pricing Headers
@import 'pricing';
// info about packages 
@import 'features';
// Footer
@import 'footer';

// variables 
$white: white;
$black: black; 
$blue: #333399;
$green: #669966; 
$silver: silver; 
$background: #f7f7f7;

* {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;  
}

.row {
  display: flex;
  margin: 0 auto;
}

.header {
  background: url(../img/background.jpg);
  background-size: cover;
  padding: 80px 0;
  color: $white;
  text-align: center;
  font-size: 23px;
  text-shadow: 2px 2px 4px $black; 
  background-attachment: fixed;
  background-position: center bottom;

    .header h1 {
        margin: 0;
    }
}






   


