// partials
@import 'priceBox';

// variables - store values
$colorblue: darkblue;
$backgroundImageHeader: url(../image/background.jpg);
$colorBlueDarker: darken($colorBlue, 50%);
$columnWidth: 960px / 12 * 100;
*{
    box-sizing: border-box;
    // color: $colorblue; this is how you would pull in a variable 
}

img{
    width: 100%
}

.container {
    max-width:960px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.column { 
    flex: 1;
}

.price-box {
    border: 1px solid lightblue;

    div:first-child {
        background: pink;
        padding: 30px;

        div:nth-child {
            font-weight: 36px;
        }

    }
}
